#
# include this play to fetch javaversion
#
#- name: fetch java version
#  shell:    tar -tf "{{ packagedir }}/{{ jdk }}" | head -1
#  args:
#    warn:   false
#  register: javaver
#  become:   true

export JAVA_HOME={{ javabase }}/{{ javaver.stdout }}
export PATH=${JAVA_HOME}/bin:${PATH}
