{% for host in groups['zookeeper-addresses'] %}
{{ host }}
{% endfor %}
{% for host in groups['db-addresses'] %}
{{ host }}
{% endfor %}
{% for host in groups['mgmt-addresses'] %}
{{ host }}
{% endfor %}
