#
# Oracle TimesTen In-Memory Database
# Copyright (c) 1999, 2019 Oracle and/or its affiliates. All rights reserved.
#
# Run iscsicmds attach on boot and detach on shutdown
#
[Unit]
Description=TimesTen Data Instance ISCSI Service
After=cloud-final.service

[Service]
StandardError=syslog
StandardOutput=syslog
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=180

ExecStart={{ opchome }}/service/scripts/iscsi.py attach {{ opchome }}/service/scripts
ExecStop={{ opchome }}/service/scripts/iscsi.py  detach {{ opchome }}/service/scripts

[Install]
WantedBy=multi-user.target
