CkptFrequency=0
CkptLogVolume=1024
CkptRate=0
ConnectionCharacterSet={{ connectioncharacterset }}
DatabaseCharacterSet={{ databasecharacterset }}
Datastore={{ fsname }}/TimesTen/{{dbname}}/!!INSTANCE_NAME!!/database/{{ dbname }}
LogDir={{ fsname }}/TimesTen/{{dbname}}/!!INSTANCE_NAME!!/txnlog
LogBufMB=1024
LogFileSize=4096
LogBufParallelism=8
PermSize={{ permsize }}
TempSize={{ tempsize }}
Connections={{ connections }}
{% if durability == "1" %}
Durability=1
{% elif ksafety == "1" %}
Durability=1
{% else %}
Durability=0
{% endif %}
PrivateCommands=1

