#
# Oracle TimesTen In-Memory Database
# Copyright (c) 2017,2018 Oracle and/or its affiliates. All rights reserved.
#
# Run ttgridadmin mgmtexamine when invoked by timer or at startup
#
[Unit]
Description=TimesTen Mgmt Instance Service
After=cloud-final.service

[Service]
User=oracle
Group=oracle
StandardError=syslog
StandardOutput=syslog
Type=oneshot
TimeoutStartSec=180

ExecStart={{ oraclehome }}/bin/mgmtexamine.py {{ mgmt }}

[Install]
WantedBy=multi-user.target
