#
# Copyright (c) 2026 Oracle and/or its affiliates. All rights reserved.
#
# Licensed under the Universal Permissive License v 1.0 as shown
# at http://oss.oracle.com/licenses/upl
#
# Configuration for the modern TimesTen demo container scripts.
#
# Each setting can be overridden by exporting it before running a script.
# Do not store TT_PASSWORD in this file.

export CONTAINER_ENGINE=${CONTAINER_ENGINE:-podman}
export TIMESTEN_IMAGE=${TIMESTEN_IMAGE:-container-registry.oracle.com/timesten/timesten:26.1.1.3.0-java25-oraclelinux9}
export NPM_REGISTRY=${NPM_REGISTRY:-https://registry.npmjs.org/}
export BASE_IMAGE=${BASE_IMAGE:-tt-modern-demos-base}
export DEMO_IMAGE=${DEMO_IMAGE:-tt-modern-demos}
export DEMO_CONTAINER=${DEMO_CONTAINER:-tt-modern-demos}
export DEMO_VOLUME=${DEMO_VOLUME:-tt-modern-demos-data}
# Set to true only when the TimesTen instance should survive container removal.
export PERSIST_DATA=${PERSIST_DATA:-false}
export DEMO_USER=${DEMO_USER:-demo}
