[Unit]
Description=ZooKeeper Service for Oracle TimesTen Scaleout
After=remote.fs.target

[Service]
User=oracle
Group=oracle
Type=forking
Environment=JAVA_HOME={{ javabase }}
Environment=ZOO_LOG_DIR={{ oraclehome }}/{{ zkinstalldir }}
ExecStart={{ zkhome }}/bin/zkServer.sh start
ExecStop={{ zkhome }}/bin zkServer.sh stop
Restart=on-failure
# zkServer stop script uses kill -9
SuccessExitStatus=143 203
PIDFile={{ zkdatadir }}/zookeeper_server.pid

[Install]
WantedBy=multi-user.target
